{% extends 'application/base.html' %}
{% load static %}
{% block content %}
<br>
<h1>ABOUT ME</h1>
<br>
<div class="grid-container-about">
    <div class="grid-item1-about">
        <img src="{% static 'images/OLI, JONATHAN B.jpg' %}" alt="Profile">
    </div>
    <div class="grid-item2-about">
        <span class="name">JONATHAN OLI</span>
        <p><span class="hypen">-</span><span class="info">  Birthday:  May 14, 2001</span></p>
        <p><span class="hypen">-</span><span class="info">  Contact:  09760084029</span></p>
        <p><span class="hypen">-</span><span class="info">  Email:  jonathanbubanoli014@gmail.com</span></p>
        <p><span class="hypen">-</span><span class="info">  City:  Bacoor City, Cavite</span></p>
        <p><span class="hypen">-</span><span class="info">  Sex:  Male</span></p>
        <p><span class="hypen">-</span><span class="info">  Age:  23 years old</span></p>
        <p><span class="hypen">-</span><span class="info">  Nationality:  Filipino</span></p>
    </div>
    <div class="grid-item3-about">
        <p class="info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hello! My name is Jonathan Oli. I'm a 3rd year college student taking up Bachelor of Science in Information Technology (BSIT) at Cavite State University Bacoor Branch. I love watching movies and series, playing online games, and of course I love programming. When I do programming it's a bit hard but when I see my work of hardwork and see that I'm progressing or developing. It's an overwhelming, fulfilling, and satisfying feeling. </p>
    </div>
  </div>
  
{% endblock content %}
