{% extends 'application/base.html' %}
{% load static %}
{% block content %}
<h1>MY PORTFOLIO</h1>
<h2 class="header2">MY PAST WORKS/ACTIVITIES/PROJECTS</h2>
<div class="grid-container">
    <div class="grid-item">
        <a href="{% static 'images/ATM Home.PNG' %}" target="_blank">
        <img src="{% static 'images/ATM Home.PNG' %}" alt="ATM Home"></a>
    </div>
    <div class="grid-item">
        <a href="{% static 'images/ATM Login.PNG' %}" target="_blank">
        <img src="{% static 'images/ATM Login.PNG' %}" alt="ATM Login"></a>
    </div>
    <div class="grid-item">
        <a href="{% static 'images/Dashboard_Restaurant.png' %}" target="_blank">
        <img src="{% static 'images/Dashboard_Restaurant.png' %}" alt="Restaurant Dashboard"></a>
    </div>  
    <div class="grid-item">
        <a href="{% static 'images/Welcome Page LMS.png' %}" target="_blank">
        <img src="{% static 'images/Welcome Page LMS.png' %}" alt="WelcomePage LMS"></a>
    </div>
    <div class="grid-item">
        <a href="{% static 'images/Login Page LMS.png' %}" target="_blank">
        <img src="{% static 'images/Login Page LMS.png' %}" alt="Login LMS"></a>
    </div>
    <div class="grid-item">
        <a href="{% static 'images/Register Page LMS.png' %}" target="_blank">
        <img src="{% static 'images/Register Page LMS.png' %}" alt="Register LMS"></a>
    </div>  
    <div class="grid-item">
        <a href="{% static 'images/User Dashboard LMS.png' %}" target="_blank">
        <img src="{% static 'images/User Dashboard LMS.png' %}" alt="UserDashboard LMS"></a>
    </div>
    <div class="grid-item">
        <a href="{% static 'images/Admin Dashboard LMS.png' %}" target="_blank">
        <img src="{% static 'images/Admin Dashboard LMS.png' %}" alt="AdminDashboard LMS"></a>
    </div>
    <div class="grid-item">
        <a href="{% static 'images/Payroll Login.png' %}" target="_blank">
        <img src="{% static 'images/Payroll Login.png' %}" alt="PayrollLogin"></a>
    </div>
    <div class="grid-item">
        <a href="{% static 'images/Payroll Home.png' %}" target="_blank">
        <img src="{% static 'images/Payroll Home.png' %}" alt="PayrollHome"></a>
    </div>
    <div class="grid-item">
        <a href="{% static 'images/Oli_Jonathan_B - LabAct1.png' %}" target="_blank">
        <img src="{% static 'images/Oli_Jonathan_B - LabAct1.png' %}" alt="Infographics"></a>
    </div>
    <div class="grid-item">
        <a href="{% static 'images/Oli_Jonathan_B._BSIT_2-4_Activity_1_Infographics.png' %}" target="_blank">
        <img src="{% static 'images/Oli_Jonathan_B._BSIT_2-4_Activity_1_Infographics.png' %}" alt="Infographics"></a>
    </div>  
    <div class="grid-item">
        <a href="{% static 'images/Platform-Technology-Collage-Oli, Jonathan B..jpg' %}" target="_blank">
        <img src="{% static 'images/Platform-Technology-Collage-Oli, Jonathan B..jpg' %}" alt="Collage"></a>
    </div>
</div>
{% endblock content %}